#Data Preprocessing

In [4]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [15]:
df.shape

(5110, 12)

In [16]:
# removing neccessary duplicates 
df = df.drop_duplicates()
df.shape

(5110, 12)

In [17]:
# checking missing values 
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [18]:
#Filling the missing values
df.fillna(value = df['bmi'].median(), inplace = True)
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [19]:
df.drop(columns = 'id', inplace = True)
d = df[df['gender'] == 'Other'].index
df.drop(d, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5109 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5109 non-null   object
 1   age                5109 non-null   float64
 2   hypertension       5109 non-null   int64
 3   heart_disease      5109 non-null   int64
 4   ever_married       5109 non-null   object
 5   work_type          5109 non-null   object
 6   Residence_type     5109 non-null   object
 7   avg_glucose_level  5109 non-null   float64
 8   bmi                5109 non-null   float64
 9   smoking_status     5109 non-null   object
 10  stroke             5109 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 479.0+ KB

In [20]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [21]:
gender=enc.fit_transform(df['gender'])
smoking_status=enc.fit_transform(df['smoking_status'])
work_type=enc.fit_transform(df['work_type'])
Residence_type=enc.fit_transform(df['Residence_type'])
ever_married=enc.fit_transform(df['ever_married'])

In [22]:
df['ever_married']=ever_married
df['Residence_type']=Residence_type
df['smoking_status']=smoking_status
df['gender']=gender
df['work_type']=work_type

In [23]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,0,61.0,0,0,1,3,0,202.21,28.1,2,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5109 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5109 non-null   int64
 1   age                5109 non-null   float64
 2   hypertension       5109 non-null   int64
 3   heart_disease      5109 non-null   int64
 4   ever_married       5109 non-null   int64
 5   work_type          5109 non-null   int64
 6   Residence_type     5109 non-null   int64
 7   avg_glucose_level  5109 non-null   float64
 8   bmi                5109 non-null   float64
 9   smoking_status     5109 non-null   int64
 10  stroke             5109 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 479.0 KB

In [97]:
df.describe()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000
mean,0.413975,43.229986,0.097475,0.054022,0.656293,2.167743,0.508123,106.140399,28.863300,1.376982,0.048738
std,0.492592,22.613575,0.296633,0.226084,0.474991,1.090398,0.499983,45.285004,7.699785,1.071626,0.215340
min,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,10.300000,0.000000,0.000000
25%,0.000000,25.000000,0.000000,0.000000,0.000000,2.000000,0.000000,77.240000,23.800000,0.000000,0.000000
50%,0.000000,45.000000,0.000000,0.000000,1.000000,2.000000,1.000000,91.880000,28.100000,2.000000,0.000000
75%,1.000000,61.000000,0.000000,0.000000,1.000000,3.000000,1.000000,114.090000,32.800000,2.000000,0.000000
max,1.000000,82.000000,1.000000,1.000000,1.000000,4.000000,1.000000,271.740000,97.600000,3.000000,1.000000

#Data Preparation

In [25]:
X = df.drop(['stroke'], axis=1)
y = df['stroke']

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=12)

In [27]:
print('X train is ',X_train.shape)
print('Y train is ',y_train.shape)
print('X test is ',X_test.shape)
print('Y test is ',y_test.shape)

X train is  (3576, 10)
Y train is  (3576,)
X test is  (1533, 10)
Y test is  (1533,)

##Smote Technique

In [98]:
from imblearn.over_sampling import SMOTE
from collections import Counter

counter = Counter(y_train)
print(counter)
smt = SMOTE(random_state=12)
X_train_sm, y_train_sm = smt.fit_resample(X_train, y_train)

counter = Counter(y_train_sm)
print(counter)

Counter({0: 3404, 1: 172})
Counter({0: 3404, 1: 3404})

#XGboost Random Forest

In [81]:
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score, classification_report

In [88]:
xgb_model = XGBClassifier()
xgb_model.fit(X_train_sm, y_train_sm)
#print(xgb_model.score(X_train, y_train))

print(xgb_model.score(X_test, y_test))

0.8206131767775603

In [93]:
y_pred = xgb_model.predict(X_test)
pred = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, pred)
print(accuracy)

0.8206131767775603

In [94]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.97      0.84      0.90      1456
           1       0.14      0.48      0.21        77

    accuracy                           0.82      1533
   macro avg       0.55      0.66      0.56      1533
weighted avg       0.93      0.82      0.86      1533

#Logistic Regression

In [70]:
from sklearn.linear_model import LogisticRegression

In [71]:
logis = LogisticRegression(solver = 'liblinear')
logis.fit(X_train_sm, y_train_sm)

LogisticRegression(solver='liblinear')

In [72]:
train_pred = logis.predict(X_train_sm)
pred = logis.predict(X_test)

In [73]:
pred = [round(value) for value in pred]

In [74]:
accuracy = accuracy_score(y_test, pred)
print(accuracy)

0.786692759295499

In [75]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.98      0.79      0.88      1456
           1       0.14      0.64      0.23        77

    accuracy                           0.79      1533
   macro avg       0.56      0.72      0.55      1533
weighted avg       0.93      0.79      0.84      1533

#Gaussian Naives

In [76]:
from sklearn.naive_bayes import GaussianNB

In [84]:
gnb = GaussianNB()
gnb.fit(X_train_sm,y_train_sm)

GaussianNB()

In [85]:
pred = gnb.predict(X_test)

In [86]:
accuracy = accuracy_score(y_test, pred)
print(accuracy)

0.715590345727332

In [87]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.98      0.71      0.83      1456
           1       0.12      0.77      0.21        77

    accuracy                           0.72      1533
   macro avg       0.55      0.74      0.52      1533
weighted avg       0.94      0.72      0.80      1533

#Interface

In [99]:
import tkinter

import tkinter.messagebox

from tkinter import *

In [102]:

win = tkinter.Tk()
win.title("Stroke Prediction Form")
win.geometry('1024x1024')
#win['bg']='#ffbf00'

    
    
title = Label(win, text="Please Enter your Details").pack()

Label(win, text = "Name").place(x=30, y=50)  
n = Entry(win)
n.place(x = 180, y = 50)

Label(win, text = "Age").place(x = 30, y = 90)   
age = Entry(win)
age.place(x = 180, y = 90)

radio = IntVar()  
Label(win, text="Gender").place(x=30, y=130)
R1 = Radiobutton(win, text="Male", variable=radio, value=1)
R1.place(x=180, y=130)
R2 = Radiobutton(win, text="Female", variable=radio, value=2)
R2.place(x=250, y=130)


Label(win, text="Residence Type").place(x=30, y=170)
ur = IntVar()
Checkbutton(win, text="Urban", variable=ur).place(x=180, y=170)
ru = IntVar()
Checkbutton(win, text="Rural", variable=ru).place(x=250, y=170)
"""
menu = StringVar()
menu.set("select")
residence = OptionMenu(win, menu,"Urban", "Rural")
residence.place(x = 180, y=170)
"""
Label(win, text = "Work Type").place(x = 30, y = 210)
menu = StringVar()
menu.set("select")
OptionMenu(win, menu,"Private", "Government","Self-Employed").place(x = 180, y=210)

Label(win, text = "Maritial Status").place(x=30, y=250)
married = StringVar()
married.set("select")
OptionMenu(win, married,"Yes", "No").place(x = 180, y=250)

Label(win, text = "Hypertension").place(x=30, y=290)
ht = StringVar()
ht.set("select")
OptionMenu(win, ht,"Yes", "No").place(x = 180, y=290)

Label(win, text = "Heart Disease").place(x=30, y=330)
heart = StringVar()
heart.set("select")
OptionMenu(win, heart,"Yes", "No").place(x = 180, y=330)

Label(win, text="Average Glucose Level").place(x=30, y=370)
glucose_level = Entry(win)
glucose_level.place(x = 180, y = 370)

Label(win, text="BMI").place(x=30, y=410)
bmi = Entry(win)
bmi.place(x = 180, y = 410)

Label(win, text="Smoking Status").place(x=30, y=450)
smoking = StringVar()
smoking.set("select")
OptionMenu(win, smoking,"never smoked", "formerly smoked", "smokes", "unknown").place(x = 180, y=450)

import tkinter.messagebox
import openpyxl
from openpyxl import Workbook
import pathlib

file = pathlib.Path("data.xlsx")
if file.exists():
    pass
else:
    file=Workbook()
    sheet=file.active
    sheet["A1"]="Name"
    sheet["B1"]="Age"
    sheet["C1"]="Gender"
    sheet["D1"]="Residence Type"
    sheet["E1"]="Work Type"
    sheet["F1"]="Martial Status"
    sheet["G1"]="Hypertension"
    sheet["H1"]="Heart Disease"
    sheet["I1"]="AGL"
    sheet["J1"]="BMI"
    sheet["K1"]="Smoking Status"
    file.save("data.xlsx")
    
def onClick():
    
    tkinter.messagebox.showinfo("Patient Health Record", "Record stored successfully")
    a = n.get()
    b = age.get()
    e = menu.get()
    f = married.get()
    g = ht.get()
    h = heart.get()
    i = glucose_level.get()
    j = bmi.get()
    k = smoking.get()
    
    print(a)
    print(b)
    print(e)
    print(f)
    print(g)
    print(h)
    print(i)
    print(j)
    print(k)

    file = openpyxl.load_workbook("data.xlsx")
    sheet = file.active
    sheet.cell(column=1, row=sheet.max_row+1, value=a)
    sheet.cell(column=2, row=sheet.max_row, value=b)    
    sheet.cell(column=5, row=sheet.max_row, value=e)
    sheet.cell(column=6, row=sheet.max_row, value=f)
    sheet.cell(column=7, row=sheet.max_row, value=g)
    sheet.cell(column=8, row=sheet.max_row, value=h)
    sheet.cell(column=9, row=sheet.max_row, value=i)
    sheet.cell(column=10, row=sheet.max_row, value=j)
    sheet.cell(column=11, row=sheet.max_row, value=k)
    
    if radio.get()==1:
        gender = "Male"
        print("Male")
        sheet.cell(column=3, row=sheet.max_row, value="Male")
    else:
        print("Female")
        sheet.cell(column=3, row=sheet.max_row, value="Female")

    if ur.get()==1:
        print("Urban")
        sheet.cell(column=4, row=sheet.max_row, value="Urban")
        
    if ru.get()==1:
        print("Rural")
        sheet.cell(column=4, row=sheet.max_row, value="Rural")
        
    file.save("data.xlsx")
    


button = Button(win, text="Submit", command=onClick).place(x=480, y=540)

label = Label(win)
label.pack()
win.mainloop()

TclError: ignored